h1 {
  color: Olive;
  text-align: center;
  font-family: courier;
  font-weight: 300;
  font-style: bold;
  font-size: 84px;

}
p{color: black ;
font-family: courier;
  font-size: 34 px;
  text-align: center;
}

#black-text{
  color: black;
  font-weight: bold;}

#bold-text{
  color: white;
  font-style: bold;
  font-size: 200 px;
  font-family: Impact;
  text-align: center;

  }

}

.done {text-decoration: overline;}

}
