html {
  font-size: 14 px;
  color: grey;
  text-align: left;
}

h1 {
  color: pink;
  font-family: "Courier",
  font-weight: 200;
  font-size: 72;
  text-align: center;


}

h2 {
  color: black;
  font-family: "Courier",
  font-weight: 200;
  font-size: 72;
  text-align: left;


}

h3 {
  color: grey;
  font-family: "Courier",
  font-weight: 200;
  font-size: 72;
  text-align: center;


}

h4 {
  color: black;
  font-family: "Courier",
  font-weight: 200;
  font-size: 24;
  text-align: left;
  font-style: bold;

}

p {
  color: olive;
  font-family: "Arial black",
  font-weight: 200;
  font-size: 20;
  text-align: left;


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  height: 100%;
}
