body{

  background: #33495f;
  align-items: center;
}

.wrapper{
  width: 900px;
  height: 900px;
  position: sticky;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  margin: 10;
}

.sun{
  position: static;
  bottom: 400px;
  right: 500px;
  width: 90px;
  height: 90px;
  background: #f9db62;
  border-radius: 360px;
  opacity: 1;
  animation: sun 3s 0s linear infinite;
  padding: 100px;
  visibility: inherit;
}

.circle{
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border-radius: 1000px;
  transition: all 2s ease;
}



.scale{
  transform: scale(1.2);
}

.text{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
}

#tempText{
  color: white;
}

#windText{
  color: lightblue;
}

#wind{
  background-color: lightgrey;
}



h1{
  color: White;
  font-family: Arial;
  font-size: 40px;
  position: static;

}

h2{
  color: White;
  font-family: Arial;
  font-size: 20px;
  position: sticky;
}
